@using IsBulmaProject.Models
@model List<v_IlanlarByIsVerenId>
@{
    ViewBag.Title = "Index";

}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">İşBul.com ile sen de hayallarindeki işi hemen bul!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Hızlı arama yöntemi, basit arayüz kullanımı ve bir çok özellik ile  hayallerindeki işi hemen bulman için seni bekliyoruz!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/Ilanlar/Index">Hemen İş Bul</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/Anasayfa/Hakkımızda">Hakkımızda</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/Shared/assets/Anasayfaresim.jpg" alt="..." /></div>
        </div>
    </div>
</header>
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0">Hayata Yeniden Başlamanın En Kolay Yolu!</h2>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Kapsamlı İş İlanları</h2>
                        <p class="mb-0">Hayal ettiğiniz işi bulmak artık daha kolay. Geniş iş ilanı seçenekleri ile aradığınızı hemen bulun.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Çeşitli Şirketler</h2>
                        <p class="mb-0">Farklı sektörlerden onlarca işveren, size uygun iş fırsatları sunuyor.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Kariyer Rehberi</h2>
                        <p class="mb-0">Uzmanlarımızın yazdığı kariyer rehberleri ile iş başvurularınızı en iyi şekilde yönetin.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Kolay Kullanım</h2>
                        <p class="mb-0">Kullanıcı dostu arayüzümüz sayesinde iş arama deneyiminizi basit ve hızlı hale getiriyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"İş Bulma Platformu'nun şablonlarıyla çalışmak, yeni projeler oluştururken benim için çok fazla geliştirme zamanı kazandırdı! Bootstrap şablonuyla başlamak işleri daha da kolaylaştırıyor!"</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                        <div class="fw-bold">
                            Tom Ato
                            <span class="fw-bold text-primary mx-1">/</span>
                            CEO, Pomodoro
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">En Yeni İşler</h2>
                    <p class="lead fw-normal text-muted mb-5">Şuanda sitemizdeki en güncel iş ilanlarını aşşağıda bulabilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="~/Shared/assets/Anasayfaresim.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">@item.ilanAdi</h5></a>
                            <p class="card-text mb-0">@item.ilanSehir  -- @item.ilanCalismaBicimi</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">@item.isVerenSirketAdi</div>
                                        <div class="text-muted">@item.IlanEklenmeTarihi &middot; @item.ilanBasvuruSayisi +</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section>
