@using IsBulmaProject.Models
@model List<v_IlanlarByIsVerenId>
@if (Model.Count !=0)
{
    <div class="container mt-5">
        <div class="col-lg-9 ">
            <!-- Yukarıda .row divinin içine eklediğimiz container divi -->
            <div class="row gx-5">
                @foreach (var item in ViewBag.Ilanlar)
                {
                    <div class="col-lg-4 mb-4">
                        <!-- Dikkat: mb-4 olarak değiştirildi -->
                        <div class="card h-100 shadow border-0">
                            <!-- Dikkat: h-70 h-100 olarak değiştirildi -->
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                <a class="text-decoration-none link-dark stretched-link" href="@Url.Action("Details", "Ilanlar", new { id = item.ilanId })">

                                    <h5 class="card-title mb-3">
                                        @if (item.ilanAdi.Length <= 35)
                                        {
                                            @item.ilanAdi
                                        }
                                        else
                                        {
                                            @item.ilanAdi.Substring(0, 35) @Html.Raw("...")
                                        }
                                    </h5>
                                </a>
                                <p class="card-text mb-0">@item.ilanSehir -- @item.ilanCalismaBicimi</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                        <div class="small">
                                            <div class="fw-bold company-name">@item.isVerenSirketAdi</div>
                                            <div class="text-muted">@item.IlanEklenmeTarihi &middot; @item.ilanBasvuruSayisi +</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>
}
else
{
<div class="text-center mt-5">
    <h3>Kaydedilenlerinizde herhangi bir ürün bulunmamaktadır.</h3>
</div>
}

       
