@model IsBulmaProject.Models.v_IlanlarByIsVerenId
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="mb-3">@Model.ilanAdi</h1>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="badge bg-primary">@Model.ilanSehir</span>
                    <span class="badge bg-success">@Model.ilanCalismaBicimi</span>
                    <span class="badge bg-info">@Model.isVerenSirketAdi</span>
                </div>
                <div class="d-flex">

                    @if (User.IsInRole("2"))
                    {
                        <a href="/Ilanlar/Basvur/@Model.ilanId" class="btn btn-outline-primary me-2">Başvur</a>

                        <a href="/Ilanlar/FavoriEkle/@Model.ilanId" class="btn btn-outline-primary me-2">Kaydet</a>
                    }

                    @if (User.IsInRole("3") && User.Identity.Name == Model.isVerenSirketAdi)
                    {
                        <a href="/SirketIlanlar/IlanGuncelle/@Model.ilanId" class="btn btn-outline-primary me-2">Güncelle</a>
                        <a href="#" data-ilanId="@Model.ilanId" class="btn btn-outline-primary me-2 ilanSil">Sil</a>
                    }


                    @if (User.IsInRole("1"))
                    {
                        <a href="/SirketIlanlar/IlanGuncelle/@Model.ilanId" class="btn btn-outline-primary me-2">Güncelle</a>
                        <a href="#" data-ilanId="@Model.ilanId" class="btn btn-outline-primary me-2 ilanSil">Sil</a>
                    }

                </div>
            </div>
            <hr>
            <p><strong>İlan Eklenme Tarihi:</strong> @Model.IlanEklenmeTarihi</p>
            <p><strong>Başvuru Sayısı:</strong> @Model.ilanBasvuruSayisi</p>
            <!-- Diğer ilan detay bilgileri -->
        </div>
    </div>
</div>

<!-- Ürün Detayları -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <h3>Ürün Detayları</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>@Model.IlanTanitim</td>
                                </tr>
                                <!-- Diğer ürün detayları satırları -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if(User.IsInRole("3") && User.Identity.Name == Model.isVerenSirketAdi)
            {
<div class="container mt-3">
    <h2>İlana Başvuranlar</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Cv Dosyası</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Kullanicilar as List<IsBulmaProject.Models.v_KullaniciBasvurular>)
            {
                <tr>
                    <td>@item.KullaniciAdi</td>
                    <td>@item.kullaniciSoyadi</td>
                    <td>@item.Mail</td>
                    <td>
                        <a href="~/Dosyalar/@item.CVdosyaPath" target="_blank">@item.CVdosyaPath</a>
                    </td>
                    <td>
                        <a href="/MusteriYonet/KullaniciDetails/@item.KullaniciID" class="btn btn-outline-primary me-2">Profil</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
            }

@section scripts{
    <script src="~/Shared/js/jquery-1.11.1.min.js"></script>

    <script>
        $(".ilanSil").click(
            function () {
                var sonuc = confirm("İlan silinsin mi?");
                if (sonuc) {
                    var kid = $(this).attr("data-ilanId");
                    //alert(kid);
                    $.ajax(
                        {
                            type: "POST",
                            url: "/SirketIlanlar/IlanSil/" + kid,
                            success: function () {
                                alert("İlan silindi");
                                window.location.replace("/SirketIlanlar/Ilanlar");
                            },
                            error: function () {
                                alert("İlan silinemedi");
                            }
                        }
                    );
                }
                else {
                    alert("Silme İptal Edildi");
                }
            }
        );
    </script>
}
